<aside class="contextual-nav">
    <section>
    <h1>Geographic Regions</h1>
    <nav>
        <ul>
            {{ range $key, $value := .Site.Taxonomies.continents.Alphabetical }}
                <li>{{ $value.Name }}</li>

            {{ end }}
        </ul>
    </nav>
</section>

    <section>
    <h1>Families</h1>
    <nav>
        <ul>
            {{ range $key, $value := .Site.Taxonomies.families.Alphabetical }}
                <li>{{ $value.Name }}</li>

            {{ end }}
        </ul>
    </nav>
</section>
    {{ template "chrome/search.html" . }}
</aside>
