{{ partial "head.html" . }}
<body>
<header class="home-header">
    {{ partial "logo.html" . }}
    {{ partial "search.html" . }}
    <nav class="quick-links">
        <ul>
            <li>
                <a href="#">Quick Link</a>
            </li>
            <li>
                <a href="#">Quick Link</a>
            </li>
            <li>
                <a href="#">Quick Link</a>
            </li>
            <li>
                <a href="#">Quick Link</a>
            </li>
        </ul>
    </nav>
    <img class="carousel" src="{{ .Site.BaseUrl }}/image/home-header.jpg" alt="Carousel">
    {{ partial "main-nav.html" . }}
</header>
<section class="home-main">
   main
</section>
<aside class="home-aside">
    aside
</aside>

    



  </body>
</html>
