{{ partial "head.html" . }}
<body>

{{ partial "header.html" . }}
<img class="header-image" src="/image/animal-header.jpg" alt="{{ .Title }}">

{{ partial "aside-terms.html" . }}
<section class="main-content">
<h1> {{ .Title }} </h1>
        {{ $cdescs := index .Site.Taxonomies "continent-descs" }}
        {{ $pages := index $cdescs (.Title | lower) }}
	{{ if len $pages }}
	    {{ $page := index $pages 0 }}
	    {{ $page.Page.Content }} 
        {{end}}
  <ul class="terms">
      {{ range .Data.Pages }}
	<li>
		<a href="{{ .Permalink }}" class="thumb">
			<img src="/image/animal/{{ .Params.thumb }}" alt="{{ .Title }}">
		</a>
		<a href="{{ .Permalink }}" class="link">{{ .Title }}</a>
		<div class="summary">
			{{ .Description }}
		</div>
	</li>

      {{ end }}
  </ul>
</section>
{{ partial "footer.html" . }}
  </body>
</html>
